body {
	background-color: #ddd;
}

img {
	width: 140px;
	box-shadow: 2px 2px 8px #bbb;
	border-radius: 75px;
}

.container {
	display: flex;
	padding-top: 30px;
	width:  90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color:  #eee;
}

.container > div {
	padding: 5px;
	align-self: flex-start;
}

.emptyCells {
	width: 140px;
	height: 0;
}

.toggle > img {
	filter: opacity(60%) grayscale(40%);
	transition: filter 1s;
	z-index: -1;
}

.favorites > img:hover {
	box-shadow: 2px 2px 8px #666;
	transform: scale(1.1);
	position: relative;
	filter: opacity(100%);
	transition: filter;
	z-index: 2;
	border-radius: 3px;
}

#goo {
	box-shadow: none;
	height: 2em;
}
