body {
	background-color: #222;
}

a.fav_link > img {
	box-shadow: 2px 2px 8px #000;
}

.container, .search_container {
	background-color:  #111;
}

body.hasHover .fav_link > img:hover {
	box-shadow: 2px 2px 8px #000;
}

body.hasHover .toggle > img {
	filter: opacity(80%) grayscale(100%);
	transition: filter;
	z-index: -1;
}

#light_sw {
	opacity: 1.0;
}

#dark_sw {
	opacity: 0.5;
}