body {
	background-color: #222;
}

a.fav_link > img {
	box-shadow: 2px 2px 8px #000;
}

.container, .search_container, .nav_container {
	background-color:  #111;
}

body.hasHover .fav_link > img:hover {
	box-shadow: 2px 2px 8px #000;
}

body.hasHover .toggle > img {
	z-index: -1;
}

.selected {
	border: 1px solid #ddd;
}

.nav_group a {
	color: #888;
}

.active a {
	color: #ddd;
}
