body {
	background-color: #ddd;
}

a.fav_link > img {
	box-shadow: 2px 2px 8px #bbb;
}

.container, .search_container, .nav_container {
	background-color:  #eee;
}

body.hasHover .fav_link > img:hover {
	box-shadow: 2px 2px 8px #666;
}

body.hasHover .toggle > img {
	z-index: -1;
}

.selected {
	border: 2px solid #555;
}

.nav_group a {
	color: #888;
}

.active a {
	color: #333;
}