* {
	box-sizing: border-box;
}

.container {
	display: grid;
	width: 90%;
	margin: auto;
	padding-top: 30px;
	grid-template-columns: repeat(auto-fit, 140px);
	grid-template-rows: repeat(auto-fit, 140px);
	grid-gap: 10px 10px;
  	justify-items: center;
  	justify-content: center;
  	min-height: 100vh;
}

.search_container{
	display: flex;
	padding-top: 30px;
	width:  90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

a.fav_link img {
	width: 100%;
	box-shadow: 2px 2px 8px #666;
}

.logo_item img {
	width: 100px;
	padding-right: 20px;
}

.switch {
	height: 18px;
	margin-left: 20px;
}

#circle_sw, #light_sw, #gray_sw {
	margin-left: 5px;
}

#colorful_sw, #gray_sw {
 	display: none;
 }

.selected {
	padding: 0;
	border-radius: 2px;
	height: 18px;
}

body.hasHover .toggle > img {
	z-index: -1;
}

body.hasHover .fav_link > img:hover {
	position: relative;
	filter: opacity(100%);
	transition: filter;
	z-index: 2;
}

.nav_container {
	width: 90%;
	margin: auto;
	text-align:  center;
	padding-top: 20px;
}

.nav_list {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_group {
	display: inline;
	text-align: center;
	padding: 10px;
}

.nav_group a {
	text-decoration: none;
}

 .display_toggle {
 	display: none;
 }

 .empty_cell {
 	height: 0;
 	width: 140px;
 }

 