* {
	box-sizing: border-box;
}

.container {
	display: grid;
	width: 90%;
	margin: auto;
	padding-top: 30px;
	grid-template-columns: repeat(auto-fit, 140px);
	grid-template-rows: repeat(auto-fit, 140px);
	grid-gap: 10px 10px;
  	justify-items: center;
  	justify-content: center;
}

.search_container{
	display: flex;
	padding-top: 30px;
	width:  90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

a.fav_link img {
	width: 100%;
	box-shadow: 2px 2px 8px #666;
}

.logo_item img {
	width: 100px;
	padding-right: 20px;
}

.switch {
	margin-left: 20px;
}

#circle_sw, #light_sw, #gray_sw {
	margin-left: 5px;
}

.selected {
	padding: 1px;
	border-radius: 5px;
}

body.hasHover .toggle > img {
	z-index: -1;
}

body.hasHover .fav_link > img:hover {
	position: relative;
	filter: opacity(100%);
	transition: filter;
	z-index: 2;
}