body {
	background-color: #ddd;
}

img {
	width: 150px;
	box-shadow: 2px 2px 8px #bbb;
	border-radius: 3px;
}

.container {
	display: flex;
	padding-top: 45px;
	width:  90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color:  #eee;
}

.container > div {
	padding: 5px;
	align-self: flex-start;
}

.emptyCells {
	width: 150px;
	height: 0;
}

.toggle > img {
	filter: opacity(75%) grayscale(25%);
	transition: filter 1s;
	z-index: -1;
}

.favorites > img:hover {
	box-shadow: 2px 2px 8px #000;
	transform: scale(1.8);
	position: relative;
	filter: opacity(100%);
	transition: filter;
	z-index: 2;
	border-radius: 75px;

}

#goo {
	box-shadow: none;
	height: 2em;
}


