a.favorites > img {
	width: 140px;
}

.container {
	display: flex;
	padding-top: 30px;
	width:  90%;
	margin: auto;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.container > div {
	padding: 5px;
	align-self: flex-start;
}

.emptyCells {
	width: 140px;
	height: 0;
}

.toggle > img {
	z-index: -1;
}

.favorites > img:hover {
	position: relative;
	filter: opacity(100%);
	transition: filter;
	z-index: 2;
}

#goo {
	box-shadow: none;
	height: 2em;
	padding-right: 10px;
}


.switch {
	width:  20px;
	margin-left: 20px;
	opacity: 0.3;
}

#circle_switch {
	border-radius: 10px;
	margin-left: 5px;
}

#light_switch {
	border-radius: 5px;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
 
#dark_switch{
	border-radius: 5px;
	width: 20px;
	height: 20px;
}
.active {
	opacity: 1.0;
}